# Copy nội dung file này sang một file mới tên là .env
# File .env đã được Git ignore để mỗi máy tính tự cấu hình riêng tủy theo từng developer

VITE_API_BASE_URL=http://localhost:8080
VITE_API_URL=http://localhost:8080
VITE_AI_URL=http://localhost:8001
VITE_NFC_BRIDGE_URL=http://127.0.0.1:5050
