-- =====================================================
-- Migration Script: Add Violation and Appeal System
-- Description: ThĂªm há»‡ thá»‘ng quáº£n lĂ½ vi pháº¡m vĂ  khiáº¿u náº¡i
-- =====================================================

-- 1. Táº¡o báº£ng violation_records (Danh sĂ¡ch vi pháº¡m)
CREATE TABLE IF NOT EXISTS violation_records (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    student_id UUID NOT NULL REFERENCES users(id) ON DELETE CASCADE,
    created_by UUID REFERENCES users(id) ON DELETE SET NULL,
    rule_id INTEGER REFERENCES reputation_rules(id) ON DELETE SET NULL,
    violation_reason TEXT NOT NULL,
    penalty_points INTEGER NOT NULL,
    status VARCHAR(20) NOT NULL DEFAULT 'ACTIVE' CHECK (status IN ('ACTIVE', 'APPEALED', 'DISMISSED', 'CANCELLED')),
    notes TEXT,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- 2. Táº¡o báº£ng violation_appeals (Khiáº¿u náº¡i vi pháº¡m)
CREATE TABLE IF NOT EXISTS violation_appeals (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    violation_id UUID NOT NULL REFERENCES violation_records(id) ON DELETE CASCADE,
    student_id UUID NOT NULL REFERENCES users(id) ON DELETE CASCADE,
    appeal_reason TEXT NOT NULL,
    status VARCHAR(20) NOT NULL DEFAULT 'PENDING' CHECK (status IN ('PENDING', 'APPROVED', 'REJECTED')),
    reviewed_by UUID REFERENCES users(id) ON DELETE SET NULL,
    review_notes TEXT,
    reviewed_at TIMESTAMP,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- 3. Táº¡o indexes Ä‘á»ƒ tá»‘i Æ°u query
CREATE INDEX IF NOT EXISTS idx_violation_records_student_id ON violation_records(student_id);
CREATE INDEX IF NOT EXISTS idx_violation_records_status ON violation_records(status);
CREATE INDEX IF NOT EXISTS idx_violation_records_created_at ON violation_records(created_at DESC);

CREATE INDEX IF NOT EXISTS idx_violation_appeals_violation_id ON violation_appeals(violation_id);
CREATE INDEX IF NOT EXISTS idx_violation_appeals_student_id ON violation_appeals(student_id);
CREATE INDEX IF NOT EXISTS idx_violation_appeals_status ON violation_appeals(status);
CREATE INDEX IF NOT EXISTS idx_violation_appeals_created_at ON violation_appeals(created_at DESC);

-- 4. Táº¡o function Ä‘á»ƒ tá»± Ä‘á»™ng update updated_at
CREATE OR REPLACE FUNCTION update_updated_at_column()
RETURNS TRIGGER AS $$
BEGIN
    NEW.updated_at = CURRENT_TIMESTAMP;
    RETURN NEW;
END;
$$ LANGUAGE plpgsql;

-- 5. Táº¡o triggers cho auto-update timestamp
DROP TRIGGER IF EXISTS update_violation_records_updated_at ON violation_records;
CREATE TRIGGER update_violation_records_updated_at
    BEFORE UPDATE ON violation_records
    FOR EACH ROW
    EXECUTE FUNCTION update_updated_at_column();

DROP TRIGGER IF EXISTS update_violation_appeals_updated_at ON violation_appeals;
CREATE TRIGGER update_violation_appeals_updated_at
    BEFORE UPDATE ON violation_appeals
    FOR EACH ROW
    EXECUTE FUNCTION update_updated_at_column();

-- 6. Insert sample data (optional - for testing)
-- Chá»‰ cháº¡y náº¿u báº¡n muá»‘n cĂ³ dá»¯ liá»‡u máº«u Ä‘á»ƒ test
/*
INSERT INTO violation_records (student_id, violation_reason, penalty_points, status, notes)
SELECT 
    id, 
    'GĂ¢y máº¥t tráº­t tá»± trong thÆ° viá»‡n', 
    5,
    'ACTIVE',
    'Vi pháº¡m láº§n Ä‘áº§u'
FROM users 
WHERE role_name = 'STUDENT' 
LIMIT 5;
*/

COMMIT;

-- =====================================================
-- Rollback Script (Náº¿u cáº§n xĂ³a cĂ¡c thay Ä‘á»•i)
-- =====================================================
/*
DROP TRIGGER IF EXISTS update_violation_appeals_updated_at ON violation_appeals;
DROP TRIGGER IF EXISTS update_violation_records_updated_at ON violation_records;
DROP FUNCTION IF EXISTS update_updated_at_column();

DROP TABLE IF EXISTS violation_appeals CASCADE;
DROP TABLE IF EXISTS violation_records CASCADE;
*/
